# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/
env/

# Logs
*.log

# Environment variables
.env
.env.*
!.env.example

# Terraform
tmp/
.terraform/
*.tfstate
*.tfstate.backup

# VS Code
.vscode/

# macOS
.DS_Store
