tmp/

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfvars
terraform/terraform.tfstate
terraform/terraform.tfstate.backup

# Python
src/.venv/
src/__pycache__/
__pycache__/
*.pyc
*.pyo

# Misc
*.bkp
.claude/
